pipeline/pl_data_ingestion_json_v5.json
{
	"name": "pl_data_ingestion_json_v5",
	"properties": {
		"description": "ingest webstore online sales data into data lake",
		"activities": [
			{
				"name": "Copy Web Store Online Sales Data",
				"description": "Copy online sales data from blob to data lake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_blob_buyalot_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_data_engineering_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set success status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Web Store Online Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_status",
					"value": "Success"
				}
			},
			{
				"name": "Set failed status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Web Store Online Sales Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_status",
					"value": "Failed"
				}
			},
			{
				"name": "Log pipeline metadata - Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set success status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SnapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runID",
							"type": "Expression"
						},
						"sourceToTargetID": "2",
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime, 'AUS Eastern Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.systemCode",
							"type": "Expression"
						},
						"datasetName": {
							"value": "@pipeline().parameters.datasetName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log pipeline metadata - Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set failed status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SnapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runID",
							"type": "Expression"
						},
						"sourceToTargetID": "2",
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime, 'AUS Eastern Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.systemCode",
							"type": "Expression"
						},
						"datasetName": {
							"value": "@pipeline().parameters.datasetName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"systemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"runID": {
				"type": "string",
				"defaultValue": "1"
			},
			"snapshotDate": {
				"type": "string",
				"defaultValue": "2022-01-18"
			}
		},
		"variables": {
			"v_status": {
				"type": "String",
				"defaultValue": "Success"
			}
		},
		"folder": {
			"name": "metadata"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-19T05:33:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}