pipeline/pl_orch_daily_batch_run.json
{
	"name": "pl_orch_daily_batch_run",
	"properties": {
		"description": "Daily batch run orchestration of ingestion pipeline",
		"activities": [
			{
				"name": "Get Batch Run Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetBatch]",
						"storedProcedureParameters": {
							"PFrequency": {
								"type": "String",
								"value": {
									"value": "@variables('v_frequency')",
									"type": "Expression"
								}
							},
							"PSystemCode": {
								"type": "String",
								"value": {
									"value": "@variables('v_systemCode')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asql_batch_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Batch Run Information",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Batch Run Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Batch Run Details').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Run Ingestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_data_ingestion_json_v6",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"systemCode": {
										"value": "@variables('v_systemCode')",
										"type": "Expression"
									},
									"datasetName": {
										"value": "@item().DatasetName",
										"type": "Expression"
									},
									"runID": {
										"value": "@item().RunID",
										"type": "Expression"
									},
									"snapshotDate": {
										"value": "@item().SnapshotDate",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Batch Status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach Batch Run Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SetBatchStatus]",
					"storedProcedureParameters": {
						"PFrequency": {
							"value": {
								"value": "@variables('v_frequency')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PSystemCode": {
							"value": {
								"value": "@variables('v_systemCode')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_asql_dataengineering_metadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_frequency": {
				"type": "String",
				"defaultValue": "Daily"
			},
			"v_systemCode": {
				"type": "String",
				"defaultValue": "OWS"
			}
		},
		"folder": {
			"name": "orchestration"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-19T03:11:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}